:root {
  --primary: #121B27;
  --secondary: #5404FF;
  --tertiary: #BD3BD2;
}

.border-gradient {
  width: fit-content;
  height: auto;
  padding: 4px 16px;
  border: double 0.5px transparent;
  border-radius: 100px;
  background-image: linear-gradient(var(--primary), var(--primary)), radial-gradient(circle at top left, var(--secondary), var(--tertiary));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}